# root
node_modules
dist
.env
.env.local
.env.production

# server
server/node_modules
server/.env
server/database.sqlite

# build / cache
*.tsbuildinfo
.vite
coverage

# system
.DS_Store
Thumbs.db
/src/generated/prisma