PORT=4000
CLIENT_URL=https://czytomasens.pl
OPENAI_API_KEY=sk-proj_TUTAJ_WKLEJ_OPENAI
OPENAI_MODEL=gpt-4o
STRIPE_SECRET_KEY=sk_live_TUTAJ_WKLEJ_STRIPE_SECRET
STRIPE_WEBHOOK_SECRET=whsec_TUTAJ_WKLEJ_STRIPE_WEBHOOK_SECRET
RESEND_API_KEY=re_TUTAJ_WKLEJ_RESEND_API_KEY
RESEND_FROM_EMAIL=CzyToMaSens <raporty@mail.czytomasens.pl>
